body {
	font-family:arial, verdana;
}
#depan {
	width:8.5cm;
	max-width:8.5cm;
	overflow:hidden;
	border:solid 1px #000;
	float:left;
	height:5.5cm;
	max-height:5.5cm;
}
#belakang {
	width:8.5cm;
	max-width:8.5cm;
	overflow:hidden;
	border:solid 1px #000;
	float:left;
	height:5.5cm;
	max-height:5.5cm;
}
#depan div {
	padding:3mm;
}
#belakang div {
	padding:3mm;
}
#header {
	height:2cm;
	max-height:2cm;
	overflow:hidden;
	font-family:verdana;
	margin-bottom:1mm;
	letter-spacing:1mm;
}
#header div {
	float:left;
}

#body {
	width:100%;
	border:solid 1px #000000;
	font-size:10pt;
	line-height:14pt;
}
#body div {
	
}

.tblListData {
	font-size:11px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", tahoma, verdana;
	border:solid 1px #cccccc;
	border-collapse: collapse;
	background:#FFFFFF;
}
.tblListData thead {
}
.tblListData thead th {
	background: #dbdcdd url('../images/3.png') repeat-x;
	font-family: verdana, arial;
	text-align:left;
	border:solid 1px #000000;
	padding:3px;
	font-size:10px;
}
.tblListData tbody tr:hover {
	/*cursor:pointer;
	background-color:#fce700;*/
	background-color:#e1f2f7;
}
.tblListData tbody td {
	border:solid 1px #000000;
	padding:0 3px 0 3px;
	height:26px;
}
.tblListData a:link,a:visited {
	text-decoration:none;color:#333333;
}
.tblListData a:hover {
	text-decoration:underline;color:#000000;
}
.tblListData img {
	border:0;
}
.tblListData tr.notSelected {
	
}
.tblListData tr.selected {
	background: #9DE1F3 url('../images/bg_tr_selected.png') repeat-x;
}

.tblListData2 {
	font-family: arial, tahoma, verdana;
	border:solid 1px #999999;
	border-collapse: collapse;
	background:#FFFFFF;
	font-size:9pt;
    margin:0 auto;
}
.tblListData2 thead th {
	background: #dbdcdd url('../images/3.png') repeat-x;
	font-family: arial, tahoma, verdana;
	text-align:center;
	border:solid 1px #999999;
	padding:2px;
	font-size:8pt;
}
.tblListData2 tbody tr:hover {
	background-color:#e1f2f7;
}
.tblListData2 tbody td {
	border:solid 1px #999999;
	padding:0 3px 0 3px;
}

h1 {}
h2 {}
h3 {}
