body {
	font-family:arial, verdana;
}
#header {
	width:19cm;
	max-width:19cm;
	height:2cm;
	max-height:2cm;
	overflow:hidden;
	border:solid 1px #000000;
	font-family:verdana;
	margin-bottom:1mm;
	letter-spacing:1mm;
}
#header div {
	float:left;
}
#body {
	width:188mm;
	max-width:188mm;
	height:108mm;
	max-height:108mm;
	border:solid 1px #000000;
	padding:1mm;
	font-size:10pt;
	line-height:14pt;
}
#body div {
	
}

h1 {}
h2 {}
h3 {}
